@{
    ViewData["Title"] = "Quản lý thêm, xóa, sửa";
}
<div class="row">
    <div class="col-4">
        <ul>
            <li><a href="/Manager/Menu" target="_blank"> Danh sách Menu </a></li>
            <li> <a href="/Manager/File" target="_blank"> Danh sách File Source</a></li>
        </ul>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4"></div>
</div>